body {
background-color:#e8f5e9;
test-align: center;
font-family: Arial;
}

h1{
  color: white;
  .produto{
    border: 2px solid green;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  }
